@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none !important;
}

.bg-orange{
  background-color: #F0684F;
}

.text-orange{
  color: #F0684F !important; 
}


.bg-text-pink{
  background: rgba(240, 104, 79, 0.5);
  color: #fff;
  padding: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#registPopUp{
  .modal-dialog{
    @media screen and (min-width:576px) {
      max-width: 800px;
    }
  }
}

.vjs-big-play-centered .vjs-big-play-button{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  outline: none;
  span{
    &::before{
      font-size: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}



.cursor-pointer{
  cursor: pointer;
}

.home-postiotn1{
  object-position: left -50px;
}

.toggle-password{
  float: right;
  margin-top: -27px;
  margin-right: 10px;
  cursor: pointer;
}


#wrapper{
  overflow: hidden;
  .tag-section{
    text-transform: uppercase;
    color: #F0684F;
  }
  .title-section{
    font-weight: bold;
    font-size: 36px;
    color: #333;
  }
  .desc{
    font-size: 14px;
  }
  .more-section{
    a{
      text-transform: uppercase;
      color: #F0684F;
    }
  }
  .w-md-50{
    @include media-breakpoint-up(sm){
      width: 50%;
    }
  }
  .bg-grey-wrapper{
    background: #F5F6F8;
    .team-list{
      .block{
        .img{
          img{
            width: 100%;
            object-fit: cover;
            height: 300px;
            @include media-breakpoint-down(sm){
              object-position: top;
            }
            @include media-breakpoint-up(sm){
              object-position: top;
            }
          }
        }
        .txt-bottom{
          background: #fff;
          height: 140px;
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.04);
          border-radius: 0 0 10px 10px;
          .name{
            font-weight: 600;
          }
          .position{
            color: #828282;
            font-size: 12px;
          }
          .sosmed{
            ul{
              li{
                list-style: none;
                font-size: 30px;
                margin: 0 10px;
                a{
                  color: #828282;
                }
              }
            }
          }
        }
      }
    }
  }
}

.nav-tabs{
  .nav-link{
    border-left: none;
    border-top: none;
    border-right: none;
    color: #BABABA;
    &.active{
      color: #F0684F;
      border-bottom-color: #F0684F;
      font-weight: bold;
      border-bottom: 2px solid;
    }
  }
}

#header{
  .navbar{
    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
  }
  .navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .navbar-nav{
    li{
      &.active{
        border-bottom: 1px solid #F0684F;
      }
      @include media-breakpoint-up(sm){
        line-height: 60px;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
      @media screen and (min-width:768px)and(max-width:992px) {
        margin-right: 0px;
        font-size: 12px;
      }
      a{
        color: #828282;
        &:hover{
          color: #F0684F;
        }
      }
    }
  }
  .content-menu{
    align-items: center;
    flex-direction: column;
  }
  .act-right{
    justify-content: flex-end;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        a{
          font-size: 14px;
          text-decoration: none;
          color: #F0684F;
          min-width: 120px;
          @include media-breakpoint-down(md){
            width: auto;
          }
          &.bg-orange{
            background-color: #F0684F;
            color: #fff;
            &:hover{
              border-color: #F0684F;
              background: transparent;
              color: #F0684F;
            }
          }
          &.bg-white{
            border-color: #F0684F;
            &:hover{
              background: #F0684F !important;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.sponsor{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  .slick-arrow{
    position: absolute;
    top: 0%;
    background: #fff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #F0684F;
    width: 40px;
    height: 40px;
    font-size: 28px;
    cursor: pointer;
    &.prev{
      left: -50px;
      z-index: 1;
      @include media-breakpoint-down(sm){
        left: 0;
      }
    }
    &.next{
      right:0px;
    }
  }
  .slick-slide{
    @include media-breakpoint-down(sm){
      text-align: center !important;
      img{
        display: inline-block !important;
      }
    }
  }
}

.slide-banner{
  .block{
    .img{
      img{
        object-fit: cover;
        height: 623px;
        @include media-breakpoint-down(sm){
          object-position: 32% center;
        }
        &.banner{
          @include media-breakpoint-up(md){
            height: 587px;
          }
        }
      }
    }
    .floating-column{
      top: 20%;
      &.home-float{
        top: 40%;
      }
      .title{
        font-size: 41px;
        font-weight: 700;
        @include media-breakpoint-down(sm){
          font-size: 33px;
        }
        span{
          color: #F0684F;
        }
      }
      
      .column-right{
        .img-column{
          @include media-breakpoint-up(sm){
            margin-top: 70px;
          }
          .img-float{
            position: relative;
            &::before{
              position: absolute;
              width: 35%;
              height: 40%;
              content: '';
              background: rgba(255, 192, 203, 0.8);
              border-radius: 8px;
              right: -15px;
              bottom: -15px;          
            }
            img{
              padding: 20px;
              z-index: 1;
              position: relative;
              height: 345px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.home-about-wrapper {
  .column-left {
    .desc{
      color: #4F4F4F;
    }    
  }
  .column-right{
    .img-column{
      .img{
        position: relative;
        &::before{
          position: absolute;
          width: 35%;
          height: 40%;
          content: '';
          background: rgba(255, 192, 203, 0.8);
          border-radius: 8px;
          right: 0;
          bottom: 0;
          z-index: -1;
        }
        img{
          padding: 20px;
        }
      }
    }
  }
}

.home-service-wrapper{
  a{
    color: #4F4F4F;
    text-decoration: none;
    display: block;
    padding-bottom: 40px;
  }
  .column-list{
    .columns{
      .block{
        background: rgba(240, 104, 79, 0.1);
        @include media-breakpoint-down(sm){
          padding: 30px !important;
        }
        .name{
          color: #333;
          font-weight: 600;
        }
        .short-desc{
          font-size: 14px;
        }
        .button{
          bottom: 0;
          .btn{
            background: #F0684F;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.home-portfolio-wrapper{
  .column-left{
    .img-first{
      &::before{
        position: absolute;
        content: '';
        background: url(../images/dot-pattern.png) no-repeat;
        right: 30px;
        top: -20px;
        width: 116px;
        height: 116px;
        background-size: 70%;
        z-index: -1;
      }
      .img{
        &:first-child{
          text-align: right;
          @include media-breakpoint-up(sm){
            padding-right: 0;
          }
        }
        img{
          @include media-breakpoint-up(sm){
            height: 150px;
            object-fit: cover;
          }
        }
      }
    }
    .img-second{
      &::before{
        position: absolute;
        content: '';
        background: url(../images/dot-pattern.png) no-repeat;
        left: 30px;
        bottom: 0px;
        width: 116px;
        height: 116px;
        background-size: 70%;
        z-index: -1;
      }
      .img{
        &:first-child{
          text-align: right;
          @include media-breakpoint-up(sm){
            padding-right: 0;
          }
        }
      }
    }
  }
}

.home-academy-wrapper{
  background: #F5F6F8;
  .column-academy{
    max-width: none;
    margin-right: 0;
    overflow: hidden;
    padding-left: 86px!important;
    padding-right: 0;
    @media (min-width:1440px){
      padding-left: 166px!important;
    }
    @media (min-width:1900px){
      padding-left: 400px !important;
    }
    @include media-breakpoint-down(sm){
      padding-left: 20px !important;
    }
    .multiple-items{
      &::before{
        position: absolute;
        content: '';
        background: url(../images/dot-pattern.png) no-repeat left bottom;
        opacity: 0.5;
        width: 120px;
        height: 120px;
        bottom: 60px;
        left: -20px;
      }
      .slick-arrow{
        background: #FFFFFF;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #F0684F;
        font-size: 30px;
        position: absolute;
        bottom: 0;
        width: 35px;
        cursor: pointer;
        text-align: center;
        margin: -5px 0;
        &.next{
          left: 10%;
        }
      }
      .slick-list{
        .slick-track{
          margin-left: -63%;
          .slick-slide{
            margin: 0 5px;
            img{
              object-fit: cover;
              height: 150px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.two-column-wrapper{
  .hub{
    text-transform: uppercase;
    a{
      font-size: 14px;
      background: #F0684F;
      color: #fff;
    }
  }
  &.column1{

  }
}

.mobile-reverse{
  @include media-breakpoint-down(sm){
    flex-direction: column-reverse;
    width: 100% !important;
  }
}

.column1{
  .img-pattern{
    right: 0;
    top: 50px;
  }
  .img{    
    @include media-breakpoint-up(sm){
      padding-left: 50px;
      padding-right: 35px;
      margin-top: -20px;
    }
    &::before{
      background: #EE684F;
      width: 60%;
      height: 80%;
      content: '';
      position: absolute;
      left: 0;
      bottom: -40px;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    img{
      height: 465px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.column2{
  .img-pattern{
    @include media-breakpoint-up(sm){
      left: -50px;
      top: 100px;
      z-index: -1;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  .img-top{
    @include media-breakpoint-up(sm){
      margin-top: -50px;
    }
    &::before{
      background: #EE684F;
      width: 60%;
      height: 80%;
      content: '';
      position: absolute;
      left: 50px;
      border-radius: 0;
      bottom: -60px;
      z-index: -1;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    img{
      height: 492px;
      width: 466px;
      object-fit: cover;
    }
  }
  .img-bottom{
    @include media-breakpoint-up(sm){
      position: absolute;
      right: 0;
      bottom: -100px;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
    img{
      height: 310px;
      width: 294px;
      object-fit: cover;
    }
  }
}

.column3{
  .img-top{
    @include media-breakpoint-up(sm){
      text-align: right;
    }
    &::before{
      background: #EE684F;
      width: 60%;
      height: 70%;
      content: '';
      position: absolute;
      left: 50px;
      border-radius: 0;
      bottom: 0px;
      z-index: -1;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    &::after{
      background: #EE684F;
      width: 40%;
      height: 70%;
      content: '';
      position: absolute;
      right: 0px;
      border-radius: 0;
      bottom: -20px;
      z-index: -1;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    img{
      height: 400px;
      width: 368px;
      object-fit: cover;
    }
  }
  .img2{
    left: 0;
    bottom: -50px;
    @include media-breakpoint-down(sm){
      display: none;
    }
    img{
      height: 315px;
      width: 270px;
      object-fit: cover;
    }
  }
}

.column4{
  .img-pattern{
    left: -30px;
    z-index: -1;
    top: 50px;
  }
  .img-top{
    &::before{
      background: #EE684F;
      width: 60%;
      height: 90%;
      content: '';
      position: absolute;
      left: 50px;
      border-radius: 0;
      bottom: -50px;
      z-index: -1;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    img{
      height: 492px;
      width: 466px;
      object-fit: cover;
    }
  }
  .img-small{
    bottom: -80px;
    right: 0;
    @include media-breakpoint-down(sm){
      display: none;
    }
    img{
      height: 310px;
      width: 294px;
      object-fit: cover;
    }
  }
}

.column5{
  @include media-breakpoint-up(sm){
    padding: 5%;
    margin: 5% 0 0;
  }
  .img-pattern{
    left: 20%;
    top: 10%;
    z-index: -1;
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  .img1{
    @include media-breakpoint-up(sm){
      text-align: right;
      margin-top: -40px;
    }
    img{
      height: 212px;
      width: 368px;
      object-fit: cover;
    }
  }
  .img2{
    top: 110%;
    @include media-breakpoint-down(sm){
      display: none;
    }
    img{
      height: 261px;
      width: 248px;
      object-fit: cover;
    }
  }
  .img3{
    @include media-breakpoint-down(sm){
      display: none;
    }
    &::before{
      background: #EE684F;
      width: 80%;
      height: 60%;
      content: '';
      position: absolute;
      right: 0;
      border-radius: 0;
      bottom: -30px;
      z-index: -1;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    img{
      height: 261px;
      width: 248px;
      object-fit: cover;
    }
  }
}

.search-page-result{
  .search-form{
    form{
      input{
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 28px;
        color: #BABABA;
        &::-webkit-input-placeholder {
          color: #BABABA;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #BABABA;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #BABABA;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #BABABA;
        }
      }
    }
  }
  .category-menus{
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        min-width: 120px;
        font-size: 14px;
        line-height: 22px;
        list-style: none !important;
        text-transform: capitalize;
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        &.active{           
          a{
            background: #F0684F;
            color: #fff;
            font-weight: 600;
          }
        }
        a{
          display: block;
          height: 40px;
          text-align: center;
          border: 1px solid #dee2e6;
          border-radius: 5px;
          color: #4F4F4F;
          text-decoration: none;
          padding: 8px 15px;
        }
      }
    }
  }
  .search-body{
    color: #828282;
    font-size: 14px;
    .after-category-top{
      .dropdown{
        button{
          border: 1px solid #DEDEDE;
          color: #F0684F;
          font-size: 14px;
        }
        ul{
          li{
            a{
              padding: 5px 10px;
              color: #F0684F;
              display: block;
              text-decoration: none;
              font-size: 12px;
            }
          }
        }
      }
    }
    .result-column-wrapper{
      .block{
        a{
          color: #828282;
          text-decoration: none;
          .after-img{
            .name{
              color: #000;
              font-weight: 600;
              font-size: 16px;
            }
            .price{
              color: #F0684F;
              font-weight: 600;
              height: 50px;
              display: flex;
              align-items: flex-end;          
            }
          }
        }
      }
    }
  }
}

.page-detail-wrapper{
  .column-left-wrapper{
    .column-left{
      color: #828282;
      .profile-wrapper{
        .nama{
          font-weight: 600;
          color: #000;
        }
        .bio{
          font-size: 14px;
        }
      }
      .about-wrapper{
        h4{
          color: #000;
          font-weight: 600;
        }
        p{
          font-size: 14px;
        }
        .price{
          h4{
            color: #F0684F;
            font-weight: normal;
          }
        }
        .order{
          text-transform: uppercase;
          a{
            background: #F0684F;
            color: #fff;
            display: block;
            border-radius: 8px;
            text-decoration: none;
            font-weight: 600;
            &:hover{
              background: #fff;
              color: #F0684F;
              border-color: #F0684F;
            }
          }
        }
      }
    }
  }
  .column-right-wrapper{
    .column-right{
      .slider-single{
        .slick-arrow{
          position: absolute;
          top: 40%;
          background: #fff;
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          color: #F0684F;
          width: 40px;
          height: 40px;
          font-size: 28px;
          cursor: pointer;
          text-align: center;
          &.prev{
            left: 0px;
            z-index: 1;
            @include media-breakpoint-down(sm){
              left: 0;
            }
          }
          &.next{
            right:0px;
          }
        }
      }
      .slider-nav{
        @include media-breakpoint-down(sm){
          margin-top: 20px;
        }
        .thumb-img{
          img{
            @include media-breakpoint-down(sm){
              height:40px;
              object-fit: cover;
            }
          }
        }
      }
      h5{
        font-weight: 600;
      }
      p{
        color: #4F4F4F;
      }
    }
  }
}

.parallax-img{
  .img{
    img{
      height: 493px;
      width: 100%;
      object-fit: cover;
    }
  }
  .overlay{
    background: rgba(240, 104, 79, 0.5);
    top:0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .txt{
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      @include media-breakpoint-up(sm){
        width: 50%;
        padding-top: 10%;
      }
      @include media-breakpoint-down(sm){
        font-size: 38px;
        line-height: 38px;
      }
    }
  }
}

.content-center-wrapper{
  .block{
    &::before{
      position: absolute;
      content: '';
      left: -50px;
      top: -10px;
      background: url(../images/dot-pattern.png) no-repeat;
      width: 116px;
      height: 116px;
    }
    .desc{
      color: #4F4F4F;
    }
  }
}

.bg-grey-wrapper{
  background: #F5F6F8;
  .column-block{
    .block{
      .no{
        color: #F0684F;
        background: rgba(240, 104, 79, 0.2);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
      .title{
        font-weight: 600;
      }
      .short-desc{
        font-size: 14px;
        color: #4F4F4F;
      }
    }
  }
}

.before-footer-wrapper{
  .bg-img{
    img{
      object-fit: cover;
      height: 364px;
    }
  }
  .overlay{
    background: rgba(240, 104, 79, 0.8);
    color: #fff;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .tag{
      text-transform: uppercase;
      font-weight: 600;
    }
    .title{
      font-weight: 700;
      font-size: 36px;
      @include media-breakpoint-up(sm){
        width: 50%;
      }
      @include media-breakpoint-down(sm){
        font-size: 21px;
      }
    }
    .menu-act{
      .column{
        a{
          font-size: 14px;
          font-weight: 600;
          margin: 0 10px;
          &.bg-white{
            color: #F0684F;
            &:hover{
              background-color: transparent !important;
              border-color: #fff;
              color: #fff;
            }
          }
          &.bg-none{
            border-color: #fff;
            color: #fff;
            &:hover{
              color: #F0684F;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

#footer{
  .column{
    a{
      color: #4F4F4F;
    }
    .tag{
      font-weight: 600;
      text-transform: uppercase;
      color: #4F4F4F;
    }
    .block{
      font-size: 14px;
      color: #4F4F4F;
      svg{
        font-size: 20px;
        width: 20px;
        margin-right: 5px;
      }
      .wa{
        font-size: 13px;
      }
      .email{
        font-size: 13px;
      }
      a{
        &:hover{
          color: #F0684F;
        }
      }
      .menus{
        ul{
          li{
            margin-bottom: 10px;
            list-style: none;
            a{
              text-decoration: none;
              &:hover{
                color: #F0684F;
              }
              svg{
                font-size: 20px;
                width: 16px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .bottom-column{
    color: #828282;
    font-size: 12px;
    border-top: 1px solid #DEDEDE;
    .column{
      @include media-breakpoint-down(sm){
        flex-direction: column;
        .logo{
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
    .copy{
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 24px;
    background: #F5F6F8;
    left: 50%;
    margin-left: -1.5px;
  }

  > li {
    margin-bottom: 20px;
    position: relative;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    > {
      .timeline-panel {
        width: 48%;
        float: left;
        border-radius: 2px;
        padding: 20px;
        position: relative;

        &:before {
          position: absolute;
          top: 40px;
          display: inline-block;
          content: " ";
          height: 10px;
          width: 100%;
          border-bottom: 1px dashed #828282;      
          @include media-breakpoint-down(sm){
            display: none;
          }
        }

        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          content: " ";
        }
        &.text-left{
          &::before{
            width: 103%;
          }
        }
      }

      .timeline-badge {
        color: #fff;
        width: 10px;
        height: 10px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 37%;
        left: 50%;
        margin-left: 5px;
        background: #F0684F;
        opacity: 0.4;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }

    &.timeline-inverted > .timeline-panel {
      float: right;

      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}

.timeline-badge {
  &.primary {
    background-color: #2e6da4 !important;
  }

  &.success {
    background-color: #3f903f !important;
  }

  &.warning {
    background-color: #f0ad4e !important;
  }

  &.danger {
    background-color: #d9534f !important;
  }

  &.info {
    background-color: #5bc0de !important;
  }
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body {
  font-size: 14px;
  p, ul {
    margin-bottom: 0;
  }

  p + p {
    margin-top: 5px;
  }
}